// Logo
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}


// Search
.search{
    flex: 0 0 40%;

    //creating a child flex container
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:$bp-xsmall ){
        order: 1;
        flex: 0 0 100%; // assume width of its present container
        background: var(--grey-light-2-colour);
    }

    &__input{
        //input elents don't (by default) inherit font properties & colour
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background: var(--grey-light-2-colour);
        border: none;
        border-radius: 10rem ;
        padding: .7rem 2rem;
        width: 90%;
        margin-right: -3rem;
        transition: all .2s;

        
        &:focus{
            outline: none;
            width: 100%;
            background: var(--grey-light-3-colour);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--grey-light-4-colour);
        }

        //basically same as above code block
        &::placeholder{
            font-weight: 100;
            color: var(--grey-light-4-colour);
        }
    }

    &__input:focus + &__button{
        background: var(--grey-light-3-colour);
    }

    &__button{
        border: none;
        background: var(--grey-light-2-colour);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(.2rem);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--grey-dark-3-colour);
    }
}


// User Navigation
.user-nav{
    display: flex;
    align-items: center;
    align-self: stretch;

    //all the direct children of user-nav
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--grey-light-2-colour);
    }

    &__icon__box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--grey-dark-2-colour);
    }

    &__notification{
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--primary-colour);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}


// Side navigation
.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width:$bp-medium ){
        display: flex;
        margin: 0;
    }

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom:.5rem; //adding margin bottom on all items except the last

            @media only screen and (max-width:$bp-medium ){
                margin-bottom: 0;
            }
        }

        @media only screen and (max-width:$bp-medium ){
            flex: 1; //giving all items the capacity to occupy the same space
        }
    }

    &__item::before{
        content: ""; //always specify content else it won't display
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: .3rem;
        background-color: var(--primary-colour);
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .2s, //transitions after 2s on transform property
                    width .4s cubic-bezier(1,0,0,1) .2s, //transitions after .4s applying the specified value on width property with a slight delay of .2s    }
                    background-color .1s;
    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;    
    }

    &__item--active::before{
        background-color: var(--primary-colour-light);
    }


    &__link:link,&__link:visited{
        color: var(--grey-light-1-colour);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 20; // z-index only works for specified positions

        display: flex;
        align-items: center;

        @media only screen and (max-width:$bp-medium ){
            justify-content: center;
            padding: 2rem;
        }

        @media only screen and (max-width:$bp-small ){
            flex-direction: column;
            padding: 1.4rem .5rem;
        }

        
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 2rem;
        fill:var(--grey-light-1-colour);

        @media only screen and (max-width:$bp-small ){
            width: 1.35rem;
            height: 1.35rem;
            margin-right: 0;
            margin-bottom: .5rem;
        }
    }
} 


// Legal
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--grey-light-4-colour);

    @media only screen and (max-width:$bp-medium ){
        display: none;
    }
}


// Hotel view
.gallery{
    display: flex;

    // &__icon{
    //     width: 1.75rem;
    //     height: 1.75rem;
    //     margin-right: 2rem;
    //     fill:var(--grey-dark-2-colour);
    // }

    // &__item{

    // }

    &__photo{
        width: 100%;
        display:block; //note that photos are stacked side by side because of flexbox irrespective of the block declaration here
    }
}


// Hotel Overview
.overview{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey-light-2-colour);

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: .1rem;
        padding: 1.5rem 3rem;
        
        @media only screen and (max-width:$bp-small ){
            font-size: 1.75rem;
            padding: 1.25rem 1.5rem;
        }
    }

    &__stars{
        // flex: 1; //occupies all the available space in the overview container but occupies more than what its content specifies
        margin-right: auto; //element only occupies the space of its content and gives horizontal space for other elements
        display: flex; //overrides the inline property the individual star icons are defautly set in
    }

    &__icon-star, &__icon-location{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--primary-colour);
    }

    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-location{
        margin-right: .5rem;
    }

    &__rating{
        background-color: var(--primary-colour);
        color: #fff;
        align-self: stretch;

        margin-left: 3rem;
        padding: .1rem 2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width:$bp-small ){
            padding: 0 1.5rem;
        } 
    }

    &__rating-average{
        font-size: 2.25rem;
        font-weight: 300;
        margin-bottom: -.4rem;

        @media only screen and (max-width:$bp-small ){
            font-size: 1.75rem;
        } 
    }

    &__rating-count{
        font-size: .8rem;
        text-transform: uppercase;

        @media only screen and (max-width:$bp-small ){
            font-size: .7rem;
        } 
    }
}


//Inline button
.btn-inline{
    border: none;
    color: var(--primary-colour);
    font-size: inherit;
    border-bottom: .1rem solid currentColor;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s;

    & span{
        margin-left: .3rem;
        transition: margin-left .3s;
    }

    &:hover{
        color: var(--grey-dark-1-colour);

        span{
            margin-left: .8rem;
        }
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite; //applies the animation property to the element
    }
}

@keyframes pulsate {
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}


// Description Paragraph
.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}


// List
.list{
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: var(--horizontal-rule);
    border-bottom: var(--horizontal-rule);

    display: flex;  //stacks List Items side by side
    flex-wrap: wrap;

    &__item{
        flex: 0 0 50%; //gives the 2 column layout for the list items
        margin-bottom: .7rem;
    }

    &__item::before{ //before each of the list item elements, we create a pseudo-element with this background image
        content: ""; //always specify!!!
        display: inline-block;
        height: 1.3rem;
        width: 1.3rem;
        margin-right: .7rem;

        //older browsers approach to using icons in css
        background-image: url(../img/chevron-thin-right.svg);
        background-size: cover;

        //modern browsers approach to using icons in css
        @supports(-webkit-mask-image: url()) or (webkit-mask-image: url()) { //feature query to determine if present browser supporrts line of code. If true it runs the code below, else it runs the code above
        background-color: var(--primary-colour);
        mask-image: url(../img/chevron-thin-right.svg);
        mask-size: cover;
        background-image: none;
        }
    }
}


// Recommend
.recommend {
    font-size: 1.3rem;
    color: var(--grey-dark-3-colour);

    display: flex;
    align-items: center;
    
    &__count {
        margin-right: auto;
    }
    
    &__friends {
        display: flex;
    }
    
    &__photo {
        // box-sizing: border-box; //includes padding and border into the width and height of elements
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: .3rem solid #fff;

        &:not(:last-child){ //all elements except the last obeys the following rule
            margin-right: -2rem;
        }
    }
}


//Review
.review{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width:$bp-medium ){
        padding: 2rem;
        margin-bottom: 3rem;
    }

    &__text{
        margin-bottom: 2rem;
        z-index: 20;  //Z-index only works if position is set
        position: relative;
    }

    &__user{
        display: flex;
        align-items: center;
    }
    
    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__user-box{
        margin-right: auto;
    }

    &__user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: .4rem;
    }
    
    &__user-date{
        font-size: 1rem;
        color: var(--grey-dark-3-colour);
    }

    &__rating{
        color: var(--primary-colour);
        font-size: 2.2rem;
        font-weight: 300;
    }


    &::before{
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        line-height: 1;
        font-size: 20rem;
        color: var(--grey-light-2-colour);
        font-family: sans-serif;
        z-index: 10;

    }
}


// CTA
.cta{
    padding: 3.5rem 0;
    text-align: center;
    
    @media only screen and (max-width:$bp-medium ){
        padding: 2.5rem 0;
    }

    &__book-now{
        font-size:2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
        text-transform: uppercase;

        @media only screen and (max-width:$bp-xsmall ){
            font-size:1.5rem;
        }
    }
}


// Button
.btn{
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 10rem;
    background-image: linear-gradient(to right, var(--primary-colour-light), var(--primary-colour-dark));
    color: #fff;

    position: relative;
    overflow: hidden;
    cursor: pointer;

    & > *{ //for all child elements of button class (.btn)
        display: inline-block;
        height: 100%;
        width: 100%;
        transition: all .2s; //recurring codes in child elements
    }

    &__visible{
        // display: inline-block;
        // height: 100%;
        // width: 100%;
        padding: 2rem 7.5rem; //padding also determines the size of the button
    }

    &__invisible{
        // display: inline-block;
        // height: 100%;
        // width: 100%;
        position: absolute;
        padding: 2rem 0;
        left: 0;
        top: -100%; //moves up 100% of the element's height
        // transition: all .2s;
    }

    &:hover{
        background-image: linear-gradient(to left, var(--primary-colour-light), var(--primary-colour-dark));
    }

    &:hover &__visible{
        transform: translateY(100%); //translate 100% of its height down
    }

    &:hover &__invisible{
        top: 0;
    }

    &:focus{
        outline: none;
        animation: pulsate 1s infinite;
    }
      
}