.container{
    max-width: 120rem; //if viewport is less than specified range, occupy 100% of that vp, otherwise display as specified
    margin: 8rem auto; //centering cntainer; Left, Right is 80px. Top, Bottom is automatically set
    background-color: var(--grey-light-2-colour);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--grey-light-2-colour);
    
    // converting child elements to flex
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.content{ //serves as the flex container
    display: flex;
}

.sidebar{
    background-color: var(--grey-dark-1-colour);
    flex: 0 0 18%; //shorthand for flexgrow, flexshrink and flexbasis 

    display: flex;
    flex-direction:column; //changes natural convention. Main axis is now cross axis and vice versa
    justify-content: space-between; //main axis is now top to bottom
}

.hotel-view{
    //testing
    // background-color: orangered;
    // height: 80rem;
    
    //main code
    flex: 1; //implies element should grow as much as it can
}

.detail{
    font-size: 1.4rem;
    display: flex; // enables child containers to be side by side
    padding: 4.5rem;
    background-color: var(--grey-light-1-colour);
    border-bottom: var(--horizontal-rule);
}

.description{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;
}

.user-reviews{
    //Testing
    background-color: transparent;

    // flex: 0 0 40%;
    flex: 1; // occupies the remaining space left by the description container
}

// .user-reviews__1{
//     font-size: 1.4rem;
//     background-color: #fff;
//     box-shadow: var(--shadow-light);
//     padding: 3rem;
//     flex: 1;
// }

// .user-reviews__photo{
//     display: flex;
// }